@import "../../../../app.scss";

.hotelProperties {
    .hotelProperties__info {
        .hotelProperties__header {
            font-size: 22px;
            color: $text-color;
        }

        .hotelProperties__list {
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            justify-content: space-between;
            width: 80%;
            margin-left: -40px;

            div {
                li {
                    margin: 5px 10px;
                    list-style: none;
                    color: $head-color;
                    .hotelProperties__icon{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}