@import "../../../app.scss";

.LeftSide {
    flex: 1;

    .leftSide__header {
        font-weight: 700;
        font-size: 16px;
        color: $text-color;
    }

    .leftSide__article {
        .leftSide__address {
            width: 80%;
            font-size: 14px;
            color: $text-secondary-color;
        }

        .leftSide__map {
            width: 305px;
            height: 190px;
        }

        .leftSide__btn {
            width: 305px;
            height: 56px;
            background-color: $button-secondary-color;
            border: 1px solid $button-color;
            border-radius: 6px;
            color: $button-color;
            font-weight: bold;
            margin-top: 16px;
        }
    }

}