@import '../../../app.scss';

.RightSide {
    flex: 3;

    .rigtSide__head {
        @include display;
        justify-content: space-between;

        .rigtSide__heading {
            .rigtSide__header {
                color: $head-color;
                @include display;
                justify-content: flex-start;
                font-weight: bold;

                span {
                    margin-left: 20px;
                }

                .rigtSide__icon {
                    color: #ffc833;
                }
            }

            .rightSide__map {
                color: $text-secondary-color;
                @include display;
                justify-content: flex-start;

                span {
                    margin-right: 5px;
                }
            }
        }

        .rightSide__btn {
            width: 203px;
            @include button;
        }
    }

    .rightSide__slider {
        margin-top: 26px;

        .rightSide__info {
            font-size: 18px;
            color: $text-color;
            margin: 24px 0 56px 0;
        }
    }

    .hr {
        margin: 40px 0;
        color: rgb(177, 177, 177);
    }

    .rightSide__hotelProperties {
        margin-bottom: 100px;
    }
}

// Responsive Design for Tablet
@media only screen and (max-width : 992px) {
    .RightSide {
        margin-left: -33%;

        .rigtSide__head {

            .rigtSide__heading {
                .rigtSide__header {
                    font-size: 1.6em;

                }

                .rightSide__map {
                    font-size: 1.2em;

                }
            }

        }

        .rightSide__slider {


            .rightSide__info {

                color: $text-color;
                margin: 24px 0 36px 0;
            }
        }

        .rightSide__hotelProperties {
            margin-bottom: 100px;
        }
    }
}

// Responsive Design for Mobile
@media only screen and (max-width : 767px) {
    .RightSide {
        margin-left: -120px;

        .rigtSide__head {
            justify-content: flex-start;

            .rigtSide__heading {

                .rigtSide__header {
                    font-size: 14px;

                    span {
                        margin-left: 10px;
                    }
                }

                .rightSide__map {
                    font-size: 8px;

                    span {
                        margin-right: 4px;
                    }
                }
            }

            .rightSide__btn {
                @include button;
                width: 103px;
                height: 36px;
                font-size: 10px;
                margin-left: 20px;
            }
        }

        .rightSide__slider {
            margin-top: 16px;
            width: 100%;

            .rightSide__info {
                font-size: 10px;
                margin: 16px 0 26px 0;
            }
        }

        .hr {
            margin: 40px 0;

        }

        .rightSide__hotelProperties {
            margin-bottom: 60px;
        }
    }
}

@media only screen and (max-width : 414px) {
    .RightSide {


        .rigtSide__head {


            .rigtSide__heading {

                .rigtSide__header {
                    font-size: 14px;

                    span {
                        margin-left: 12px;
                    }
                }

                .rightSide__map {
                    font-size: 10px;


                }
            }
        }
    }
}

// Responsive Design for Small Mobile
@media only screen and (max-width : 389px) {
    .RightSide {

        .rigtSide__head {

            .rigtSide__heading {

                .rigtSide__header {
                    font-size: 16px;
                    display: block;

                    span {
                        display: block;
                        margin-left: 0px;
                    }
                }

                .rightSide__map {
                    font-size: 10px;

                }
            }

            .rightSide__btn {
                margin-left: 36px;
            }

        }

        .rightSide__slider {
            margin-top: 8px;

            .rightSide__info {

                margin: 12px 0 12px 0;
            }
        }


    }
}